version: "3.9"

# docker compose -f docker-compose.prod.yml up --build -d

services:
  api:
    build:
      context: ./backend
    container_name: fastapi_backend
    ports:
      - "8000:8000"
    restart: always
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
    container_name: streamlit_frontend
    ports:
      - "8501:8501"
    depends_on:
      - api
    restart: always
    networks:
      - appnet

networks:
  appnet:
